body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background: #2E0219;
    color: #fcfdaf;
}

#body-content {
    margin-top: 2em;
    background-color: #a5c4d4;
    color: #4c1036;
}

.flexbox {
    margin: 2em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    max-width: 100rem;
}

img {
    width: 100%;
    text-align: center;
    height: auto;
}

.polygon img {
    height: 20em;
}

h2 {
    font-size: clamp(2rem, 3.5vh, 5rem);
}

h3 > a {
    font-size: clamp(1.5rem, 1.5vh, 4rem);
}

p {
    font-size: clamp(1rem, 1.5vh, 2rem);
}

a {
    color: #0D3B99;
    text-decoration: none;
}

@media screen and (min-width: 1025px) {  
    .text {
        flex: 4 1 0.6em;
    }

    .image {
        padding: 1em;
        flex: 2 1 0.4em;
    }
}
