.flexbox {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 767px) {
    .flexbox {
        flex-wrap: wrap;
    }
}

.title, .content {
    padding: 0 2rem;
    color: #FF4B5C;
}

.title {
    margin-bottom: 0;
    font-size: clamp(2em, 2.5vw, 4rem);
}

.content {
    font-size: clamp(1em, 1.5vw, 2rem);
}

.picture {
    padding: 0 2rem;
    max-height: 25rem;
    height: auto;
    border-radius: 10rem;
}